{% extends 'base.html.twig' %}

{% block title %}Mes commandes - BIGDEAL{% endblock %}

{% block content %}
    <h1>Mes commandes</h1>
    C'est dans cet espace que vous allez pouvoir voir vos commande en cour.<br/>
    <a href="{{ path('account') }}">Retourner à mon compte</a>
    {% if order |length == 0 %}
        <hr>
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Malheuresement</h4>
            <p>Vous n'avez pas encore de commande...</p>
            <hr>
            <a href="{{ path('products') }}" class="mb-0">Voir nos produits</a>
        </div>
    {% else %}
        <table class="table mt-5">
            <thead class="thead">
            <tr>
                <th scope="col">Passée le</th>
                <th scope="col">Produit(s)</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for order in order %}
                <tr>
                    <th><span class="badge badge-secondary">{{ order.createdAt|date('d/m/Y') }}</span></th>
                    <td>{{ order.orderDetails |length }}</td>
                    <td>{{ (order.carrierPrice + (order.getTotal / 100))|number_format(2, ',', '.') }} €</td>
                    <td><a href="{{ path('account_order_show', {'id' : order.id} ) }}">Voir ma commande</a> </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
