{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - BIGDEAL{% endblock %}

{% block content %}
    <h1>Modifier mon mot de passe</h1>
    <a href="{{ path('account') }}">Retourner à mon compte </a><br/>
    <hr>
    {% if notification_valid  %}
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Succès !</h4>
            <p>{{ notification_valid }}</p>
            <hr>
            <a href="{{ path('account') }}" class="mb-0">Retournez à mon compte.</a>
        </div>
    {% endif %}
    {% if notification_false %}
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Erreur :</h4>
            <p>{{ notification_false }}</p>
            <hr>
            <p class="mb-0">Re-essayez ...</p>
        </div>
    {% endif %}

    {{ form(form) }}
{% endblock %}
